body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #8fb492;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

/* Gaya gambar logo */
.logo img {
    width: 50px;
    height: auto;
    margin-right: 40px; /* Menambahkan jarak antara logo dan tulisan */
}

/* Gaya untuk tulisan Berita Harian */
.logo h1 {
    font-size: 24px;
    margin: 0;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.news-media video, .news-media iframe {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.news-item {
    margin-bottom: 30px;
}

.news-title {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #333;
}

.news-media {
    margin: 15px 0;
}

.news-media img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-item p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
